<div class="row">
    <span style="justify-content: center; display:flex;">
        <img style="width:200px" src="../../assets/Vj2White.jpeg">
        
    </span>
    
    <span style="color:goldenrod;font-size: 30px;font-style:oblique;justify-content: center; display:flex"><b>Vishnu Jewellers</b></span>
    <span style="justify-content: center; display:flex; font-size:20px">91.6 Gold,Silver & Diamonds</span>
    <span style="justify-content: center; display:flex; font-size:20px">Srinivas Reddy Complex, Beside Mallappa Hospital</span>
    <span style="justify-content: center; display:flex; font-size:20px">Nethaji Road,Jadecherla-509301,Dist.M.Nagar(TS)</span>
    <span style="justify-content: center; display:flex; font-size:20px"><b>Koukuntla Vishnu Vardhan - 9618206080</b></span>
    
</div>
