<br>
<div>
  <app-vj-header></app-vj-header>
</div>
<br>
<div id="vj">
  <div class="header">
    <div style="display:flex; justify-content: center; font-size: 20px;"><b>Quatation</b></div>
    <br>
    <div class="row">
      <!-- <mat-form-field appearance="outline">
        <mat-label>By No</mat-label>
        <input matInput type="text" placeholder="By No">
      </mat-form-field> -->
      <span>
        <label>Name : </label>
        <input class="border" style="font-size: 20px !important;" type="text">
      </span>
      <span class="float-right">
        <label>Date: {{currentDate | date: 'longDate'}}</label>
      </span>
      <!-- <mat-form-field appearance="outline" class="float-right">
          <mat-label>Choose a date</mat-label>
          
          <input matInput [matDatepicker]="picker">
          
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
    </div>
    <br>
    <div class="row">
      <!-- <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name">
      </mat-form-field> -->
    <!-- <span>    -   </span> -->
      <!-- <mat-form-field appearance="outline">
        <mat-label>Mobile No</mat-label>
        <input matInput type="text" placeholder="Mobile No">
      </mat-form-field> -->
      <span>
        <label>Phone No : </label>
        <input class="border" type="number" style="font-size: 20px !important">
      </span>
      <span class="float-right">
        <label>Time: {{currentDate |  date:'shortTime'}}</label>
      </span>
      <!-- <mat-form-field appearance="outline" class="float-right">
        <mat-label>Address</mat-label>
        <input matInput type="text" placeholder="Address">
      </mat-form-field> -->
    </div>
    <!-- <div class="row">
      <mat-form-field appearance="outline" class="float-right">
        <mat-label>Time</mat-label>
        
        <input matInput type="text" placeholder="Time">
    </mat-form-field>
    </div> -->
  </div>
  <br>
  <br>
  <div class="table">
   <table>
    <thead>
      <tr>
        <th *ngFor="let x of displayedColumns">{{x}}</th>
        <th class="noprint"><button (click)="add()">Add</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loop of loopCount;index as i">
        
        <td  style="text-align: center;" *ngFor="let x of displayedColumns;index as j"><input class="border" [ngClass]="j==1 || j ==13 ? 'w-150' : 'w-50'" type ="text" [id]="displayedColumns[j]+i" (focusout)="focusout(i,j)" [value]="setValue(i,j)" >
        <br>
        <input class="border" style="margin-top: 10px; width:50px !important" (focusout)="getDropWtTotal();getPulseWtTotal();getStoneWtTotal();focusout(i,10)" type="text" *ngIf="j == 4 || j == 5 || j == 6" [id] = "displayedColumns[j]+i+'value'" placeholder="/ct"></td>
        <td class="noprint" style="text-align: center;"><button *ngIf="i == loopCount.length-1" (click)="delete()">Delete</button></td>
      </tr>
      <tr>
        <td style="text-align: center; font-size:16px" colspan="2"><b>Total</b></td>
        <td style="text-align: center;">{{getPieces()}}</td>
        <td style="text-align: center;">{{getGrossWt()}}</td>
        <td style="text-align: center;">{{getDropWt()}}</td>
        <td style="text-align: center;">{{getPulseWt()}}</td>
        <td style="text-align: center;">{{getStoneWt()}}</td>
        <td style="text-align: center;">{{getNetWt()}}</td>
        <td style="text-align: center;">-</td>
        <td style="text-align: center;">-</td>
        <td style="text-align: center;">{{getFineWt()}}</td>
        <td style="text-align: center;"></td>
        <td style="text-align: center;"></td>
        <td style="text-align: center;">{{getTotalAmt()}}</td>
        <td></td>
      </tr>
    </tbody>
   </table>
  
  </div>
  <div class="footer">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td> <label>Drop Amt: {{dropWtTotal}}</label></td>
        <td> <label>Stone Amt: {{totalStoneWt}}</label></td>
        <td> <label>Pearl Amt: {{totalPulseWt}}</label></td>
        
      </tr>
      <tr>
        <td><label>Labour Amt: {{totalLabourAmt}}</label></td>
        <td><label>Gold Amt: {{totalAmt -dropWtTotal - totalPulseWt - totalStoneWt - totalLabourAmt}}</label></td>
      </tr>
    </table>
  
    
  </div>
 
  <br>
  <br>
  <div style="align-items: center; color:red; font-size:20px">
  <b>Net Balance:  {{totalAmt}}</b>
  </div>
   <div style="text-align: center; margin-top: 20px;" class="noprint">
    <button mat-button color="primary" (click)="print()">Print</button>
  </div>
</div>
