<br>
<br>
<div id="vj">
  <div class="header">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>By No</mat-label>
        <input matInput type="text" placeholder="By No">
      </mat-form-field>
      <mat-form-field appearance="outline" class="float-right">
          <mat-label>Choose a date</mat-label>
          
          <input matInput [matDatepicker]="picker">
          
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <br>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name">
      </mat-form-field>
    <span>    -   </span>
      <mat-form-field appearance="outline">
        <mat-label>Mobile No</mat-label>
        <input matInput type="text" placeholder="Mobile No">
      </mat-form-field>
      <mat-form-field appearance="outline" class="float-right">
        <mat-label>Address</mat-label>
        <input matInput type="text" placeholder="Address">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="float-right">
        <mat-label>Time</mat-label>
        
        <input matInput type="text" placeholder="Time">
    </mat-form-field>
    </div>
  </div>
  <br>
  <br>
  <div class="table">
   <table>
    <thead>
      <tr>
        <th *ngFor="let x of displayedColumns">{{x}}</th>
        <th><button (click)="add()">Add</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loop of loopCount;index as i">
        <td  style="text-align: center;" *ngFor="let x of displayedColumns;index as j"><input  [ngClass]="j==1 || j ==13 ? 'w-150' : 'w-50'" type ="text" [id]="displayedColumns[j]+i" (focusout)="focusout(i,j)">
        <br>
        <input style="margin-top: 10px; width:50px !important" (focusout)="getDropWtTotal();getPulseWtTotal();getStoneWtTotal()" type="text" *ngIf="j == 4 || j == 5 || j == 6" [id] = "displayedColumns[j]+i+'value'" placeholder="/ct"></td>
        <td style="text-align: center;"><button *ngIf="i == loopCount.length-1" (click)="delete()">Delete</button></td>
      </tr>
      <tr>
        <td style="text-align: center; font-size:16px" colspan="2"><b>Total</b></td>
        <td style="text-align: center;">{{getPieces()}}</td>
        <td style="text-align: center;">{{getGrossWt()}}</td>
        <td style="text-align: center;">{{getDropWt()}}</td>
        <td style="text-align: center;">{{getPulseWt()}}</td>
        <td style="text-align: center;">{{getStoneWt()}}</td>
        <td style="text-align: center;">{{getNetWt()}}</td>
        <td style="text-align: center;">-</td>
        <td style="text-align: center;">-</td>
        <td style="text-align: center;">{{getFineWt()}}</td>
        <td style="text-align: center;"></td>
        <td style="text-align: center;"></td>
        <td style="text-align: center;">{{getTotalAmt()}}</td>
        <td></td>
      </tr>
    </tbody>
   </table>
  
  </div>
  <div class="footer">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td> <label>Drop Amt: {{getDropWtTotal()}}</label></td>
        <td> <label>Stone Amt: {{getStoneWtTotal()}}</label></td>
        <td> <label>Pearl Amt: {{getPulseWtTotal()}}</label></td>
        
      </tr>
      <tr>
        <td><label>Labour Amt: {{getLabourAmt()}}</label></td>
        <td><label>Gold Amt: {{getTotalAmt() -getDropWtTotal() - getPulseWtTotal() - getStoneWtTotal() - getLabourAmt()}}</label></td>
      </tr>
    </table>
  
    
  </div>
  <!-- <div style="text-align: center; margin-top: 20px;">
    <button mat-button color="primary" (click)="print()">Print</button>
  </div> -->
  <br>
  <br>
  <div style="align-items: center; color:red; font-size:20px">
  <b>Net Balance:  {{getTotalAmt()}}</b>
  </div>
</div>
